<div class="container staff-accounts-container">
    <div class="staff-accounts-header d-flex justify-content-sm-start align-items-center">
      <p class="me-4 fw-bold">スタッフ一覧</p>
      <% if current_staff_is_admin %>
        <p>
            <%= link_to "スタッフ新規登録", new_staff_account_path, class: "btn new-staff-account-btn fw-bold" %>
        </p>
      <% end %>
    </div>
    <div class="row">
        <% @staffs.each do |staff| %>
            <div class="col-sm-9 mx-auto">
                <div class="accordion" id="staff-account-accordion">
                        <div class="accordion-item mb-2">
                            <h2 class="accordion-header staff-account-item" id="heading<%= staff.id %>">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= staff.id %>" aria-expanded="false" aria-controls="collapse<%= staff.id %>">
                                    <%= staff.nick_name %>
                                </button>
                            </h2>
                            <div id="collapse<%= staff.id %>" class="accordion-collapse collapse" aria-labelledby="heading<%= staff.id %>" data-bs-parent="#staff-account-accordion">
                                <div class="accordion-body">
                                    <p class="staff-member">メンバー<%= staff.id %></p>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <% if current_staff_is_admin %>
                <div class="col-sm-3 d-flex justify-content-around align-items-center">
                    <p>
                    <%= link_to "編集", edit_staff_account_path(staff), class: "btn edit-staff-account-btn fw-bold" %>
                    </p>
                    <p>
                    <%= link_to "削除", staff_account_path(staff), method: :delete, class: "btn destroy-staff-account-btn" %>
                    </p>
                </div>
            <% end %>
        <% end %>
    </div>

</div>
